@import url(https://fonts.googleapis.com/css?family=Raleway:300);
/*font-family: 'Raleway', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

.above-nav {
	height: 35px;
}

.above-nav .left {
	
	position: absolute;
	left: 25px;
	top: 5px;
	font-size: 19px;
	color: #1E23B1;
}

.above-nav .right {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 18px;
	color: #1E23B1;
}

.navbar {
	background-color: black;
	height: 14c0px;
	border-bottom: 7px solid #1E23B1;
}

.nav-left img {
	padding-top: 10px;
	
}

.nav-left p {
	color: white;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

.nav-right li {
	display: inline;
	padding: 16px 15px;

	list-style-type: none;
	list-style-position:inside;
	font-size: 22px;
	color: white;

	font-family: 'Raleway', sans-serif;
}

.nav-right {
	position: absolute;
	top: 50px;
	right: 10px;
}

.welcome-text {
	font-size: 28px;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-left: 55px;
	margin-right: 55px;
}

.lrgLogo {
	width: 210px;
	height: auto;
}

.welcome-text-small {
	font-size: 22px;
}

.sml-map-text {
	font-size: 20px;
	padding-top: 60px;
}
.inverted {
	filter: invert(100%);
}

.thumbnail {
	border: 1px solid #fff;
}

.toCenter {
	text-align: center;
}

.mapBtn {
	margin-top: 25px;
	font-size: 25px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*FONTS*/
.newFont {
	font-family: 'Poiret One', cursive;
}