<div class="row">
		<div class="container-fluid">
			<div class="col-sm-8 col-sm-offset-2">
				<p class="text-center welcome-text newFont">Welcome to Team Paliwal!<br>We're a comprehensive team of REALTORs serving the GTA.
				<br>
				<br>
				<img src="imgs/full-logo-on-white.jpg" class="lrgLogo">
				<br>
				<br>
				<span class="welcome-text-small">This website will provide you with listings of the hotest pre-construction and new projects in the GTA, along with market news and professional advice.</span>
				</p>
				<hr>
				
				<br>
				<!-- MAP IMAGE -->
				<div class="col-sm-6 thumbnail">
			        <img src="imgs/sml-map.jpg">
		        </div>
		        <div class="col-sm-6 toCenter">
		        	<p class="text-center sml-map-text newFont">Click below to view a comprehensive, visual listing of all projects in the Greater Toronto Area.</p>
		        	<button ng-click="ctrl.toMap()" class="mapBtn btn btn-default newFont">View Map of Projects</button>
		        </div>
			</div>
		</div>
	</div>

	<!-- Banner + spacing before Projects Listed -->
	<div class="row">
		<div class="col-sm-12">
			<div class="projects-banner text-center">
				<a id="projects"></a>
				<h3 class="projects-title newFont">Projects' Listing</h3>
			</div>
		</div>
	</div>

	<!-- PROJECTS' LISTINGS -->
	<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="spacing-projects"></div>
			<!-- HIGH-RISE PROJECTS -->
			<div class="col-sm-6 text-center newFont">
				<h3><strong>High-Rise Projects</strong></h3>
				<br>
				<div class="project-box">
					<!-- Some image, then starting price, location, name, more info button -->
					<div class="thumbnail">
						<img src="imgs/projects/159wellesley.jpg" class="projects-imgs">
						<span>159 Wollsely, Toronto</span>
						<span>Price: from the low $200k's</span>
					</div>
					<br>
					<div class="thumbnail">
						<img src="imgs/projects/159wellesley.jpg" class="projects-imgs">
						<span>159 Wollsely, Toronto</span>
						<span>Price: from the low $200k's</span>
					</div>
				</div>
			</div>
			<!-- RESIDENTIAL PROJECTS -->
			<div class="col-sm-6 text-center newFont">
				<h3><strong>Residential Projects</strong></h3>
				<br>
				<div class="project-box">
					<!-- Some image, then starting price, location, name, more info button -->
					<div class="thumbnail">
						<img src="imgs/projects/tuxCondos.jpg" class="projects-imgs">	
						<span>Tux Condos, Toronto</span>
						<span>Price: starting from the $250k's</span>
					</div>
					<br>
					<div class="thumbnail">
						<img src="imgs/projects/tuxCondos.jpg" class="projects-imgs">	
						<span>Tux Condos, Toronto</span>
						<span>Price: starting from the $250k's</span>
					</div>
				</div>
				<div style="height: 75px"></div>
			</div>

		</div>
	</div>
	</div>